/*body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

#main {
   flex: 1;
}*/
a.pure-menu-heading#nav-head {
	text-transform: none;
	font-size: 115%;
	background-color:#521973;
}
.active {
	background-color: rgb(220, 180, 20);
}

.white-text {
	color:white;
	text-decoration: none;
}

.header {
	border-bottom: 1px solid #ccc;
}
hr {
	border-top: 1px solid #eee;
}

img.right{
	float:right;
	padding:0;
	margin:0;
}
span.link-header {
	display:block;
}
span.link-header > h1, span.link-header > h4 {
	display: inline;
	text-decoration: none;
	font-weight:300;
}

div.header > h3 {
	color:#ddd;	
	font-weight:300;
}
div.header > h4 {
	color:#ddd;	
	font-weight:300;
}
div.header > h5 {
	color:#ddd;	
	font-weight:300;
}
div.header > h6 {
	color:#ddd;	
	font-weight:300;
}
#contact-container {
	margin-top: 50px;
}

#resume-page{
	height:100%;
	min-height:100%;
	width:100%;
}

#footer {
  margin: 0;
  padding: 1em 2em;
  background-color: #521973;
}
table {
	margin: 50px 0;
	font-size: 130%;
}
td {
	vertical-align: middle;
}
td > i {
	font-size:150%;
}
td > h1.content-subhead {
	font-size: 120%;
	margin: 0px;
	padding: inherit;
	padding-right: 0;
	padding-left: 0;
}
td.table-head{
	background-color: #521973;
}
td.table-head.odd{
	background-color:rgb(220, 180, 20);
}
}
.footer-header {
	font-size: 175%;
	font-weight: 500;
}
.footer-body {
	margin-top:0;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
p.footer-header.right {
	margin-bottom:0;
}
#copy-button {
	padding: 4px 8px;
	background-color:rgb(220, 180, 20);

}
#phone-icon {
	padding-top: 5px;
}