table {
	margin: 50px 0;
	font-size: 130%;
}
td {
	vertical-align: middle;
}
td > i {
	font-size:150%;
}
td > h1.content-subhead {
	font-size: 120%;
	margin: 0px;
	padding: inherit;
	padding-right: 0;
	padding-left: 0;
}
td.table-head {
	background-color: #521973;
}
td.table-head.odd {
	background-color:rgb(220, 180, 20);
}