#top-bar {
	/*background-color: #3949ab;*/
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

#main {
   flex: 1;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #e6e6e6;
}

#nav-head {
	color: orange;
	background-color: black;
}