<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kevin Jin</title>
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="../css/grids-responsive.css">
    <link rel="stylesheet" href="../css/layouts/side-menu.css">
    <link rel="stylesheet" href="../css/base.css">
    <script src="https://use.fontawesome.com/6f5dca8961.js"></script>
</head>

<body>
<div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" id="nav-head">Kevin Jin</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="../index.html" id="welcome-link" class="pure-menu-link">Welcome</a></li>
                <li class="pure-menu-item"><a href="skill.html" id="skill-link" class="pure-menu-link">Technical Skills</a></li>
                <li class="pure-menu-item"><a href="experience.html" id="experience-link" class="pure-menu-link">Experience</a></li>
                <li class="pure-menu-item"><a href="project.html" id="project-link" class="pure-menu-link">Projects</a></li>
                <li class="pure-menu-item"><a href="resume.html" target="_blank" id="resume-link" class="pure-menu-link">Résumé</a></li>
                <li class="pure-menu-item"><a href="#" id="contact-link" class="pure-menu-link active"><span class="white-text">Contact Me</span></a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div id="contact-page" class="page">
            <div class="header">
                <h1>Kontact Kev</h1>
                <h2>That's my rapper name</h2>
                <h3>Sometimes it's Ragin Kjin</h3>
                <h4>Send me some love</h4>
                <h5>Or spam</h5>
                <h6>Or both</h6>
            </div>
            <div class="content" id="contact-container">
                <div id="send-result"></div>
                <form class="pure-form pure-g" action="https://formspree.io/kjin@u.northwestern.edu" method="POST">
                    <fieldset class="pure-group pure-u-1">
                        <input type="text" class="pure-input-1" placeholder="name" id="sender-name" name="name">
                        <input type="text" class="pure-input-1" placeholder="email" id="sender-email" name="_replyto">
                        <input type="text" class="pure-input-1" placeholder="subject" id="sender-subject" name="_subject">
                        <input type="hidden" name="_next" value="http://kevin-jin.com/views/thanks.html" />
                        <textarea class="pure-input-1" placeholder="stuff Kevin should see" id="sender-msg" name="message" rows=6></textarea>
                    </fieldset>
                    <div class="pure-u-1-5"></div>
                    <button type="submit" id="send-btn" class="pure-button pure-input-1-5 pure-button-primary pure-u-1-5"><i class="fa fa-paper-plane fa-fw"></i>Send</button>
                    <div class="pure-u-1-5"></div>
                    <button type="reset" class="button-error pure-button pure-input-1-5 pure-u-1-5"><i class="fa fa-close fa-fw"></i>Clear</button>
                </form>
            </div>
        </div>
    </div> 

</div>
<div id="footer">
    <div class="pure-g white-text">
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="footer-header left">Kevin Jin</p>
            <p class="left">
                <i class="fa fa-file-pdf-o fa-fw"></i> <a href="../KevinJin_Resume.pdf" target="_blank" class="white-text">Résumé</a><br />
                <i class="fa fa-phone fa-fw" id="phone-icon"></i> (206) 397-9068 <br />
                <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:kjin@u.northwestern.edu" class="white-text"><span id="copy-email">kjin@u.northwestern.edu</span></a> &ndash; <button id="copy-button" class="pure-button pure-button-primary"><i class="fa fa-clipboard fa-fw"></i>Copy to clipboard</button><br />
                <div id="copy-msg"></div>
            </p>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="footer-header right">All roads lead to Kevin</p>
            <p class="footer-body right">(well just these ones actually)</p>
            <div class="right">
                <a href="http://github.com/k-jin" title="GitHub"><i class="fa fa-git-square fa-fw fa-3x white-text"></i></a>
                <a href="http://www.linkedin.com/in/kevinjin1" title="LinkedIn"><i class="fa fa-linkedin-square fa-fw fa-3x white-text"></i></a>
                <a href="http://devpost.com/kjin" title="DevPost"><i class="fa fa-code fa-fw fa-3x white-text"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../js/index.js"></script>
</body>

</html>
