<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kevin Jin</title>
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="../css/grids-responsive.css">
    <link rel="stylesheet" href="../css/layouts/side-menu.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://use.fontawesome.com/6f5dca8961.js"></script>
</head>

<body>
<div id="layout">
    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" id="nav-head">Kevin Jin</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="../index.html" id="welcome-link" class="pure-menu-link">Welcome</a></li>
                <li class="pure-menu-item"><a href="skill.html" id="skill-link" class="pure-menu-link">Technical Skills</a></li>
                <li class="pure-menu-item"><a href="#" id="experience-link" class="pure-menu-link active"><span class="white-text">Experience</span></a></li>
                <li class="pure-menu-item"><a href="project.html" id="project-link" class="pure-menu-link">Projects</a></li>
                <li class="pure-menu-item"><a href="resume.html" id="resume-link" class="pure-menu-link">Résumé</a></li>
                <li class="pure-menu-item"><a href="contact.html" id="contact-link" class="pure-menu-link">Contact Me</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div id="experience-page" class="page">
            <div class="header">
                <h1>Experience</h1>
                <h2>Research and Internships</h2>
            </div>
            <div class="content">
                <div class="pure-g">
                    <span class="pure-u-1 pure-u-md-3-4 content-subhead link-header">
                        <h1 class="content-subhead">TripleLift &ndash; </h1>
                        <h4><a href="http://triplelift.com">triplelift.com</a></h4>
                    </span>
                    <div class="pure-u-1 pure-u-md-1-4">
                        <img class="pure-img-responsive right" src="../img/tl.png">
                    </div>
                </div>
                <hr class="small">
                <p class="lead">
                    I interned at the adtech startup TripleLift as a Full Stack Web Developer on the Solutions Engineering team. As a member of the Solutions Engineering, I had the opportunity to participate and interact with clients. However, my role focused more on the coding side of things than the client facing side and I had the opportunity to work on a large variety of projects during my time at TripleLift.
                </p>
                <p class="lead">
                    One of the main projects I worked on involved analyzing the effectiveness of an advertisement placement. To do so, we use a tracking company's software to analyze our ad placements. I wrote an algorithm in PHP that dynamically calculated how often we should use the tracking company's software on each placement, based on the placement's historical performance. This allowed TripleLift to more efficiently analyze placement performance in a more cost-effective way. 
                </p>
                <p class="lead">
                    I created and improved a few internal tools (Chrome extensions and PHP tools) that optimized processes for both the Engineering and Business Development teams. In working on these tools, I worked with AJAX requests and made my own contributions to the TripleLift API. 
                </p>   
                <p class="lead">
                    I also had the opportunity to work with MySQL and Redshift (Postgres). I worked with the Salesforce API for a migration job, changing it from MySQL to Redshift  and adding new, calculated fields. Using Redshift allowed for queries that ran four times faster than equivalent ones written in MySQL. I also regularly used both databases to generate reports for Sales and Business Development teams. 
                </p> 
                <div class="pure-g">
                    <span class="pure-u-1 pure-u-md-3-4 content-subhead link-header">
                        <h1 class="content-subhead">PhysIQ &ndash; </h1>
                        <h4><a href="http://physiq.com">physiq.com</a></h4>
                    </span>
                    <div class="pure-u-1 pure-u-md-1-4">
                        <img class="pure-img-responsive right" src="../img/piq.png">
                    </div>
                </div>
                <hr class="small">
                <div class="text-left">
                    <p class="lead">I worked at the physiological startup PhysIQ as a Software Development Intern. The first project I worked on was learning how to use the Java SDK to interact with the RESTful API. The objective of this project was to clean up the existing documentation and to write a user guide from the perspective of a new user. In the process, I was also able to help find and address some bugs in the API.
                    </p>
                    <p class="lead">I was also in charge of learning and managing the remote mobile devices using VMware's AirWatch. We had patients across the country with our devices. I setup the remote management software and remotely troubleshooted and debugged patients' mobile devices. This process also involved communicating with AirWatch engineers to develop the features we needed. Unfortunately, AirWatch did not fit our needs and I was able to advise PhysIQ to transition to another service that did fit our needs. 
                    </p>
                    <div class="pure-g">
                        <span class="pure-u-1 pure-u-md-3-4 content-subhead link-header">
                            <h1 class="content-subhead">CT-STEM &ndash; </h1>
                            <h4><a href="http://ct-stem.northwestern.edu">ct-stem.northwestern.edu</a></h4>
                        </span>
                        <div class="pure-u-1 pure-u-md-1-4">
                            <img class="pure-img-responsive right" src="../img/nu.png">
                        </div>
                    </div>            
                    <hr class="small">
                    <div class="text-left">
                        <p class="lead">I worked as a research and coding assistant in the Computational Thinking in STEM (CT-STEM) research group at Northwestern University. The goal of the research group was to develop curriculum that challenged high school students to develop programming and coding skills, while learning to think more computationally.</p> 
                        <p class="lead">As a coding assistant, I created my own model of the spread of vector-borne diseases in NetLogo, an agent-based modeling language. I also maintained existing models, tailoring them to the specific needs of certain programs as well as debugging models. I helped develop curriculum in the block-based programming language Blockly.</p>
                        <p class="lead">As a research assistant, I helped assess and analyze assessment results to determine the effectiveness of various curriculum. I also contributed to the creation and refinement of these student assessments and curriculum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="pure-g white-text">
            <div class="pure-u-1 pure-u-md-1-2">
                <p class="footer-header left">Kevin Jin</p>
                <p class="left">
                    <i class="fa fa-file-text fa-fw"></i> <a href="KevinJin_Resume.pdf" class="white-text">Résumé</a><br />
                    <i class="fa fa-phone fa-fw" id="phone-icon"></i> (206) 397-9068 <br />
                    <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:kjin@u.northwestern.edu" class="white-text"><span id="copy-email">kjin@u.northwestern.edu</span></a> &ndash; <button id="copy-button" class="pure-button pure-button-primary"><i class="fa fa-clipboard fa-fw"></i>Copy to clipboard</button><br />
                    <div id="copy-msg"></div>
                </p>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
                <p class="footer-header right">All roads lead to Kevin</p>
                <p class="footer-body right">(well just these ones actually)</p>
                <div class="right">
                    <a href="http://github.com/k-jin" title="GitHub"><i class="fa fa-git-square fa-fw fa-3x white-text"></i></a>
                    <a href="http://www.linkedin.com/in/kevinjin1" title="LinkedIn"><i class="fa fa-linkedin-square fa-fw fa-3x white-text"></i></a>
                    <a href="http://devpost.com/kjin" title="DevPost"><i class="fa fa-code fa-fw fa-3x white-text"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>
    
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/index.js"></script>
</body>

</html>
