<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kevin Jin</title>
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="../css/grids-responsive.css">
    <link rel="stylesheet" href="../css/layouts/side-menu.css">
    <link rel="stylesheet" href="../css/base.css">
    <script src="https://use.fontawesome.com/6f5dca8961.js"></script>
</head>

<body>
<div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" id="nav-head">Kevin Jin</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="../index.html" id="welcome-link" class="pure-menu-link">Welcome</a></li>
                <li class="pure-menu-item"><a href="skill.html" id="skill-link" class="pure-menu-link">Technical Skills</a></li>
                <li class="pure-menu-item"><a href="experience.html" id="experience-link" class="pure-menu-link">Experience</a></li>
                <li class="pure-menu-item"><a href="project.html" id="project-link" class="pure-menu-link">Projects</a></li>
                <li class="pure-menu-item"><a href="resume.html" id="resume-link" class="pure-menu-link">Résumé</a></li>
                <li class="pure-menu-item"><a href="#" id="contact-link" class="pure-menu-link">Contact Me</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div id="thanks-page" class="page">
            <div class="header">
                <h1>Thanks for sending me stuff!</h1>
                <h2>I'll get back to you A$AP Ferg</h2>
                <h3>Here's Kanye</h3>
            </div>
            <div class="content">
                <div id="kanye">
                    <img class="pure-img-responsive" src="http://media.giphy.com/media/5xtDarwbyzqneBWbowU/giphy.gif">
                </div>
            </div>
        </div>
    </div> 

</div>
<div id="footer">
    <div class="pure-g white-text">
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="footer-header left">Kevin Jin</p>
            <p class="left">
                <i class="fa fa-file-text fa-fw"></i> <a href="../KevinJin_Resume.pdf" class="white-text">Résumé</a><br />
                <i class="fa fa-phone fa-fw" id="phone-icon"></i> (206) 397-9068 <br />
                <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:kjin@u.northwestern.edu" class="white-text"><span id="copy-email">kjin@u.northwestern.edu</span></a> &ndash; <button id="copy-button" class="pure-button pure-button-primary"><i class="fa fa-clipboard fa-fw"></i>Copy to clipboard</button><br />
                <div id="copy-msg"></div>
            </p>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="footer-header right">All roads lead to Kevin</p>
            <p class="footer-body right">(well just these ones actually)</p>
            <div class="right">
                <a href="http://github.com/k-jin" title="GitHub"><i class="fa fa-git-square fa-fw fa-3x white-text"></i></a>
                <a href="http://www.linkedin.com/in/kevinjin1" title="LinkedIn"><i class="fa fa-linkedin-square fa-fw fa-3x white-text"></i></a>
                <a href="http://devpost.com/kjin" title="DevPost"><i class="fa fa-code fa-fw fa-3x white-text"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../js/index.js"></script>
</body>

</html>
